@model IEnumerable<MercDevs_ej2.Models.Recepcionequipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Recepcion de Equipos</h1>
<body style="align-content:center">
<p>
        <a asp-action="Create"><button type="button" class="btn btn-success ">Crear Recepcion</button></a>
</p>
<table class="table">
    <thead td style="white-space: nowrap;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaPc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeloPc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
               Cliente
            </th>
            <th>
               Servicio    
            </th>
            <th>
               Listar todos los servicios
            </th>
            <th>Acciones

            </th>
        </tr>
    </thead>
    <tbody style="text-align">
@foreach (var item in Model) {
        <tr>
            <td style="white-space: nowrap;">
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaPc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloPc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServicioNavigation.IdServicio)
            </td>
            <td>
                   <a asp-controller="Recepcionequipoes" asp-action="FichaTecnica" asp-route-idRecepcionEquipo="@item.Id"><button type="button" class="btn btn-outline-success">Ficha Técnica</button></a>
            </td>
                <td class="d-flex justify-content-around" >
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-primary" style="width:100%">Editar</button></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-warning" style="width:100%">Detalles</button></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-danger" style="width:100%">Borrar</button></a>
                </td>
        </tr>
}
    </tbody>
</table>
</body>

@await Html.PartialAsync("Logo_1")